ion-segment{
    padding-left: 2%;
    margin-top: 2%;
   
    align-items: center;


}
ion-segment-button{
    font-size: smaller;
    font-weight: bolder;
}
.searchbar{
    padding-left: 2%;
    padding-right: 2%;
}
ion-badge{
    margin-right: 10%;
}
.grid{
    font-weight: bolder;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    font-style: normal;
    margin-right: 10%;
    margin-bottom: 2%

}

.border{
    padding-left: 2%;
    padding-right: 2%;
}
.name{
    margin-left: 4%;
}
.community{
    font-weight: bolder;
}
.popular{
    font-weight: bolder;
}