<div class="segment">
  <ion-segment scrollable value="deals" [(ngModel)]="segment">
    <ion-segment-button value="Reliance">
      <ion-label>II Reliance Deals Upto 20% OFF </ion-label>
    </ion-segment-button>
    <ion-segment-button value="subway">
      <ion-label>II Subway Deals Upto 20% OFF</ion-label>
    </ion-segment-button>
    <!--<ion-segment-button value="followed">
      <ion-label>Followed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="product">
      <ion-label>Product</ion-label>
    </ion-segment-button>
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jobs">
      <ion-label>Jobs</ion-label>
    </ion-segment-button> -->
  </ion-segment>
</div>

<ion-content padding>
  <div class="searchbar">
    <ion-searchbar
      animated
      placeholder="Search by Trusted & Tags"
    ></ion-searchbar>
  </div>

  <div class="grid">
    <ion-segment scrollable value="Messages">
      <ion-segment-button value="MyCommunity">
        <ion-label class="person">My Community</ion-label>
      </ion-segment-button>
      <ion-segment-button value="popular">
        <ion-label class="person">Popular</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div>
    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Helath & Fitness </ion-label>
      <ion-badge slot="end" color="light">22 New</ion-badge>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Fashion & Beauty </ion-label>
      <ion-badge slot="end" color="light">22 New</ion-badge>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Food Related </ion-label>
      <ion-badge slot="end" color="light">22 New</ion-badge>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Software Engineer's </ion-label>
      <ion-badge slot="end" color="light">22 New</ion-badge>
    </ion-item>
  </div>
</ion-content>
