<div class="segment">
  <ion-segment scrollable value="deals" [(ngModel)]="segment">
    <ion-segment-button value="Reliance">
      <ion-label>II Reliance Deals Upto 20% OFF </ion-label>
    </ion-segment-button>
    <ion-segment-button value="subway">
      <ion-label>II Subway Deals Upto 20% OFF</ion-label>
    </ion-segment-button>
    <!--<ion-segment-button value="followed">
      <ion-label>Followed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="product">
      <ion-label>Product</ion-label>
    </ion-segment-button>
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jobs">
      <ion-label>Jobs</ion-label>
    </ion-segment-button> -->
  </ion-segment>
</div>

<ion-content padding>
  <div class="searchbar">
    <ion-searchbar
      animated
      placeholder="Search by Trusted & Tags"
    ></ion-searchbar>
  </div>

  <div class="grid">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="community"> My Community </ion-label></ion-item
          >
        </ion-col>
        <ion-col size="6">
          <ion-item> <ion-label class="popular"> Popular </ion-label></ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Helath & Fitness </ion-label>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Fashion & Beauty </ion-label>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Food Related </ion-label>
    </ion-item>

    <ion-item class="border">
      <ion-avatar>
        <img src="assets/icon/avtar.png" />
      </ion-avatar>
      <ion-label class="name"> Software Engineer's </ion-label>
    </ion-item>
  </div>
</ion-content>
