ion-segment{
    padding-left: 2%;
    margin-top: 2%;
   
    align-items: center;


}
ion-segment-button{
    font-size: smaller;
    font-weight: bolder;
}
.searchbar{
    padding-left: 2%;
    padding-right: 2%;
}
.grid{
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.border{
    padding-left: 2%;
    padding-right: 2%;
}
.name{
    margin-left: 2%;
}
.community{
    font-weight: bolder;
}
.popular{
    font-weight: bolder;
}