<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p class="h2">Results</p>
        <p class="h4">Search below</p>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <!-- Searchbar with a custom debounce -->
  <ion-searchbar debounce="500"></ion-searchbar>

  <ion-segment scrollable value="heart" [(ngModel)]="segment">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="product">
      <ion-label>Product</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="followed">
      <ion-label>Followed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="product">
      <ion-label>Product</ion-label>
    </ion-segment-button>
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jobs">
      <ion-label>Jobs</ion-label>
    </ion-segment-button> -->
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'all'">
     <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/card-madison.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-alaska.jpg">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-jp.jpg">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-machu-picchu-1.jpg">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-map-madison.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-bttf.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-tmntr.jpg">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-bttf.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-map-paris.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/marty-avatar.png">
              </ion-avatar>
              <!-- <h4 class="p-2">Marty McFly</h4> -->
              <p slot="end">November 5, 1955</p>
            </ion-item>
          
            <img src="assets/img/advance-card-bttf.png">
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Agree</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>4 Disagree</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-col>
      </ion-row>
     </ion-grid>
    </div>


    <div *ngSwitchCase="'product'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-alaska.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src='../../../assets/img/card-madison.png'>
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-jp.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-machu-picchu-1.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-madison.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-tmntr.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-paris.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
  
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
       </ion-grid>
    </div>


    <!-- <ion-card *ngSwitchCase="'followed'">
      <ion-item lines="none">
        <span>
          Card layouts can vary to support the types of content they contain. The
          following elements are commonly found among that variety.
        </span>
      </ion-item>
      <ion-item>
        <ion-label color="dark">Trusted/agreed by Followed</ion-label>
        <div>
          <ion-icon class="background" color="primary" slot="end" name="information-circle-outline"></ion-icon>
          <ion-icon class="background" color="primary" slot="end" name="close-circle-outline"></ion-icon>
          <ion-icon class="background" color="primary" slot="end" name="chatbubbles"></ion-icon>
          <ion-icon class="background" color="primary" slot="end" name="add"></ion-icon>
        </div>

      </ion-item>
    </ion-card> -->
  </div>


</ion-content>