ion-segment {
    padding-left: 2%;
    margin-top: 2%;
    align-items: center;
}

ion-card {
    padding: 0.5rem;
    --color:#1a73e8;
}

ion-segment-button {
    font-size: smaller;
    font-weight: bolder;
}
.comments {
    margin-top: 20%;
    align-items: center;
    margin-left: 2%;
    height: auto;
    width: auto;
    margin-right: 2%;
}
.comments1 {
    margin-top: 5%;
}
