<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Tag & Post it !</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">+ Add Tag</ion-label>
          <ion-input placeholder="Enter The Tag" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">+ Add Image</ion-label>
          <ion-textarea rows="1" cols="20" placeholder="Enter Description..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">+ Write The Information Here .</ion-label>
          <ion-textarea rows="4" cols="20" placeholder="Enter Description..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">+ Type Post</ion-label>
          <ion-textarea rows="4" cols="20" placeholder="Enter Post..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>