<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <app-menu-item [link]="p"></app-menu-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs id="main">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <!-- <ion-label>Home</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <!-- <ion-label>Explore</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="post">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <!-- <ion-label>Post</ion-label> -->
      </ion-tab-button>
      
      <ion-tab-button tab="message">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <!-- <ion-label>Message</ion-label> -->
      </ion-tab-button>
      
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <!-- <ion-label>Profile</ion-label> -->
      </ion-tab-button>
   
      
    </ion-tab-bar>
  </ion-tabs>
</ion-split-pane>