<ion-header>
  
  <ion-toolbar >

    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title >Create Tag & Post it !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item class=tag >
  <ion-label fixed >
    + Add tag
  </ion-label>


</ion-item >

<ion-item class="tag1">
  <ion-input type="text" ></ion-input>

</ion-item>
<ion-item class="image"> 
    <ion-label fixed>
      + Add Image
    </ion-label>
  </ion-item>

    <ion-item class="images">
      <ion-input type="text" ></ion-input>
     </ion-item>
    
     <ion-item class="information"> 
      <ion-label fixed>
        + Write the Information here
      </ion-label>
    </ion-item>
  
      <ion-item class="inform">
        <ion-input type="text" ></ion-input>
       </ion-item>
      
       <ion-item class="pos"> 
        <ion-label fixed>
          + Type of Post
        </ion-label>
      </ion-item>
    
        <ion-item class="post">
          <ion-input type="text" ></ion-input>
         </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

