<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="spinner" *ngIf="!domainDetails">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-item-sliding *ngFor="let details of domainDetails;">
    <ion-item>
      <ion-label>
        <h2>{{details.domianID}}</h2>
        <h2>{{details.title}}</h2>
        <span>{{details.desciption}}</span>
      </ion-label>
      <ion-note slot="end">
        10:45 AM
      </ion-note>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash" (click)="deleteItem(details.domianID)"></ion-icon>
      </ion-item-option>
      <ion-item-option>
        <ion-icon slot="icon-only" name="star" (click)="onEdit(details)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>