ion-avatar{
    padding: 1%;
margin-top: 20%;
}
h2{
    font-weight: bolder;
  
}
ion-label{
    font-weight: bold;

}

.text1
{
    margin-top: 1%;
    margin-left:5%;
    font-weight: bold;

}
.text{
    margin-top: 1%;
    margin-left: 5%;
    align-items: center;
    font-weight: bold;
}
.p1{
    margin-left: 4%;
}