<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p class="h2">Chats</p>
        <p class="h4">New Messages</p>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button (click)="viewAllMessage()">
          <ion-icon name="eye"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-list>  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-frodo.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-gollum.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-luke.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
