<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p class="h2">Whats'up ?</p>
        <p class="h4">Here new Feeds</p>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size="2">
        <ion-tab-button tab="home">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-alaska.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-jp.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-machu-picchu-1.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-madison.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-tmntr.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-paris.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-alaska.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-jp.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-machu-picchu-1.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-madison.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-tmntr.jpg">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-map-paris.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>

              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/img/marty-avatar.png">
                </ion-avatar>
                <!-- <h4 class="p-2">Marty McFly</h4> -->
                <p slot="end">November 5, 1955</p>
              </ion-item>
            
              <img src="assets/img/advance-card-bttf.png">
            
              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Agree</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-down"></ion-icon>
                    <div>4 Disagree</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>