



<ion-content padding > 
  <div class="blue"> 

    <ion-title class="header"><ion-icon name="settings" ></ion-icon>  Settings</ion-title>
<ion-menu></ion-menu>

    <div class="blank">

      <ion-item class="border">
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/avtar.png">
          </ion-avatar>
          <ion-label>Ashish Gavhane</ion-label>
        </ion-item>
    
    </ion-item>

    <ion-item>
      
      <ion-label class="account" >Account settings</ion-label>
    
    </ion-item>
    

    <ion-item>
     
      <ion-label>Edit Profile</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>    
    </ion-item>
   
    <ion-item>
     
      <ion-label>Change Password </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>    
    </ion-item>
   
    <ion-item>
     
      <ion-label>Add a payment method</ion-label>
      <ion-icon slot="end" name="add"></ion-icon>    
    </ion-item>

    <ion-item>
     
      <ion-label>Push Notifications</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="border">
     
      <ion-label >Block</ion-label>
      <ion-icon slot="end" name="add"></ion-icon>    
    </ion-item>
   
    <ion-item>
      
      <ion-label class="more">More</ion-label>
    
    </ion-item>

    <ion-item>
     
      <ion-label>About Us</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>    
    </ion-item>

    <ion-item>
     
      <ion-label>Privacy Policy</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>    
    </ion-item>

    </div>
    

</div>
</ion-content>