.body {
    height: 25%;
    background: #38c6e5;
    padding-top: 1rem;
    position: relative;
}

#header {
    font-size: 2.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.subheader {
    position: absolute;
    width: 95%;
    top: 30%;
    ion-grid {
        --ion-grid-padding: 0;
        --ion-grid-width: 100%;

        ion-row {
            ion-col {
                --ion-grid-column-padding: 0;
            }
        }
        ion-label {
            flex: auto;
        }
    }
}
